<li class="nav-item">
    <a href="{{ path('publisher_dashboard') }}" class="nav-link nav-item-root">
        <i class="fas fa-home nav-icon"></i>
        <p class="nav-item-label">Dashboard</p>
    </a>
</li>