<li class="nav-item has-treeview">
    <a href="#" class="nav-link nav-item-root">
        <i class="fas fa-shopping-cart nav-icon"></i>
        <p class="nav-item-label">
            Mis Pedidos
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{ path('publisher_dashboard') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Mis Contratos</p>
            </a>
        </li>
    </ul>
</li>