<li class="nav-item nav-item-search">
    <form action="/search" method="get">
    <div class="nav-link nav-item-root">
        <i class="fas fa-search nav-icon" aria-hidden="true" role="button"></i>
        <input type="text" name="searchQuery" class="search-menu" placeholder="Search...">
    </div>
    </form>
</li>