<li class="nav-item d-none d-sm-inline-block switch-user-menu">
    <select class="switch-user-menu-select">
            <option value="Adm_Abogacia">Adm_Abogacia</option>
            <option value="Adm_Anaya">Adm_Anaya</option>
            <option value="Adm_ANAYALibrary">Adm_ANAYALibrary</option>
            <option value="Adm_ANII">Adm_ANII</option>
            <option value="Adm_Athenaica">Adm_Athenaica</option>
            <option value="Adm_Biblioteca">Adm_Biblioteca</option>
            <option value="Adm_BibTest">Adm_BibTest</option>
            <option value="Adm_Bucle">Adm_Bucle</option>
            <option value="Adm_CasaDeVelazquez">Adm_CasaDeVelazquez</option>
            <option value="Adm_CDT">Adm_CDT</option>
            <option value="Adm_CEIBAL">Adm_CEIBAL</option>
            <option value="Adm_CEU">Adm_CEU</option>
            <option value="Adm_ComunicacionSocial">Adm_ComunicacionSocial</option>
            <option value="Adm_Corts">Adm_Corts</option>
            <option value="Adm_DemoAbogacia">Adm_DemoAbogacia</option>
            <option value="Adm_DemoUPS">Adm_DemoUPS</option>
            <option value="Adm_DemoXebook">Adm_DemoXebook</option>
            <option value="Adm_DigitalReason">Adm_DigitalReason</option>
            <option value="Adm_Dykinson">Adm_Dykinson</option>
            <option value="Adm_Editorial">Adm_Editorial</option>
            <option value="Adm_Elibro">Adm_Elibro</option>
            <option value="Adm_Elsevier">Adm_Elsevier</option>
            <option value="Adm_ESADE">Adm_ESADE</option>
            <option value="Adm_Galaxia">Adm_Galaxia</option>
            <option value="Adm_Ibiza">Adm_Ibiza</option>
            <option value="Adm_IdeasPropias">Adm_IdeasPropias</option>
            <option value="Adm_Impedimenta">Adm_Impedimenta</option>
            <option value="Adm_Infobib">Adm_Infobib</option>
            <option value="Adm_Ingebook">Adm_Ingebook</option>
            <option value="Adm_IsabelI">Adm_IsabelI</option>
            <option value="Adm_JuaneloTurriano">Adm_JuaneloTurriano</option>
            <option value="Adm_Lancetalent">Adm_Lancetalent</option>
            <option value="Adm_Leon">Adm_Leon</option>
            <option value="Adm_Libranda">Adm_Libranda</option>
            <option value="Adm_LM">Adm_LM</option>
            <option value="Adm_LM_Ed">Adm_LM_Ed</option>
            <option value="Adm_Loyola">Adm_Loyola</option>
            <option value="Adm_MECD">Adm_MECD</option>
            <option value="Adm_MedicaPanamericana">Adm_MedicaPanamericana</option>
            <option value="Adm_Mondragon">Adm_Mondragon</option>
            <option value="Adm_Morata">Adm_Morata</option>
            <option value="Adm_NubeDigital">Adm_NubeDigital</option>
            <option value="Adm_OQO">Adm_OQO</option>
            <option value="Adm_PasoDeBarca">Adm_PasoDeBarca</option>
            <option value="Adm_PubLEON">Adm_PubLEON</option>
            <option value="Adm_PublicacionesMPL">Adm_PublicacionesMPL</option>
            <option value="Adm_PublicacionesUsal">Adm_PublicacionesUsal</option>
            <option value="Adm_PublicacionesUsc">Adm_PublicacionesUsc</option>
            <option value="Adm_PUBU">Adm_PUBU</option>
            <option value="Adm_PubUCA">Adm_PubUCA</option>
            <option value="Adm_PubUCLM">Adm_PubUCLM</option>
            <option value="Adm_PubULPGC">Adm_PubULPGC</option>
            <option value="Adm_PubUM">Adm_PubUM</option>
            <option value="Adm_PubUNED">Adm_PubUNED</option>
            <option value="Adm_PubUPV">Adm_PubUPV</option>
            <option value="Adm_PuntoDeVista">Adm_PuntoDeVista</option>
            <option value="Adm_Rbgalicia">Adm_Rbgalicia</option>
            <option value="Adm_RBGaliciaPRE">Adm_RBGaliciaPRE</option>
            <option value="Adm_Sintesis">Adm_Sintesis</option>
            <option value="Adm_Siruela">Adm_Siruela</option>
            <option value="Adm_Soria">Adm_Soria</option>
            <option value="Adm_Test">Adm_Test</option>
            <option value="Adm_Test_Biblioteca">Adm_Test_Biblioteca</option>
            <option value="Adm_Test_Editorial">Adm_Test_Editorial</option>
            <option value="Adm_ThomsonReuters">Adm_ThomsonReuters</option>
            <option value="Adm_Tienda">Adm_Tienda</option>
            <option value="Adm_Tirant">Adm_Tirant</option>
            <option value="Adm_Traficantes">Adm_Traficantes</option>
            <option value="Adm_UA">Adm_UA</option>
            <option value="Adm_UAL">Adm_UAL</option>
            <option value="Adm_UAOCEU">Adm_UAOCEU</option>
            <option value="Adm_UBU">Adm_UBU</option>
            <option value="Adm_UCA">Adm_UCA</option>
            <option value="Adm_UCLM">Adm_UCLM</option>
            <option value="Adm_UCV">Adm_UCV</option>
            <option value="Adm_UDG">Adm_UDG</option>
            <option value="Adm_UEM">Adm_UEM</option>
            <option value="Adm_UEMC">Adm_UEMC</option>
            <option value="Adm_UIC">Adm_UIC</option>
            <option value="Adm_UJAEN">Adm_UJAEN</option>
            <option value="Adm_UJI">Adm_UJI</option>
            <option value="Adm_ULL">Adm_ULL</option>
            <option value="Adm_ULPGC">Adm_ULPGC</option>
            <option value="Adm_UM">Adm_UM</option>
            <option value="Adm_UMA">Adm_UMA</option>
            <option value="Adm_UNEBOOK">Adm_UNEBOOK</option>
            <option value="Adm_UNED">Adm_UNED</option>
            <option value="Adm_UNICAN">Adm_UNICAN</option>
            <option value="Adm_UNIRIOJA">Adm_UNIRIOJA</option>
            <option value="Adm_UNIVALLE">Adm_UNIVALLE</option>
            <option value="Adm_UOC">Adm_UOC</option>
            <option value="Adm_UPO">Adm_UPO</option>
            <option value="Adm_UPS">Adm_UPS</option>
            <option value="Adm_UPSA">Adm_UPSA</option>
            <option value="Adm_UPV">Adm_UPV</option>
            <option value="Adm_UPVASCO">Adm_UPVASCO</option>
            <option value="Adm_URJC">Adm_URJC</option>
            <option value="Adm_Usal">Adm_Usal</option>
            <option value="Adm_USALdbd">Adm_USALdbd</option>
            <option value="Adm_USC">Adm_USC</option>
            <option value="Adm_UVIGO">Adm_UVIGO</option>
    </select>
</li>
<li class="nav-item d-none d-sm-inline-block switch-user-menu">
<a href="#" class="nav-link">
        <i class="fas fa-random"></i>
        <span class="d-none d-md-inline">Switch User</span>
</a>
</li>