$light-grey: #E9E9E9;
$grey: #F7F7F7;
$grey-normal: #F2F2F2;
$grey-shadow: #DDDDDD;
$grey-table: #EEEEEE;
$grey-text: #CECECE;
$dark-grey: #A9A9A9;

$white: #FFFFFF;

$orange: #F68026;
$dark-orange: #DD7322;

$black: #514932;

$blue: #03A9F5;
$dark-blue: #027FB8;

$red: #F91A2D;
$green: #0AB729;
$purple: #AD09B5;
$grey-negotiation: $grey-text;

$background-menu: $white;
$background-body: $grey;
$background-row-color: $white;
$background-table-odd: $grey-table;
$font-color: $black;
$border-color: $grey-normal;

$break-large: 1200px;
$image-small-width: 128px;
$image-small-height: 211px;