/*
 * Component: Control sidebar. By default, this is the right sidebar.
 */

.control-sidebar {
  position: absolute;
  top: $main-header-height;
  z-index: 830;

  &,
  &:before {
    width: $control-sidebar-width;
    right: -$control-sidebar-width;
    bottom: 0;
    @include transition(right $transition-speed $transition-fn);
  }

  &:before {
    top: 0;
    display: block;
    position: fixed;
    content: " ";
    z-index: -1;
  }
}

// Control sidebar open state
.control-sidebar-open {
  @include media-breakpoint-up(md) {
    .control-sidebar {
      &,
      &:before {
        right: 0;
      }
    }

    .content-wrapper,
    .main-footer {
      margin-right: $control-sidebar-width;
    }
  }

  @include media-breakpoint-down(md) {
    .control-sidebar {
      &,
      &:before {
        right: 0;
      }
    }
  }
}

// Control sidebar slide over content state
.control-sidebar-slide-open {
  .control-sidebar {
    &,
    &:before {
      right: 0;
    }
  }
}

// Light skin
.control-sidebar-light {
  color: lighten($sidebar-light-color, 10%);

  //  Background
  &,
  &:before {
    background: $sidebar-light-bg;
    border-left: 1px solid $gray-500;
    border-bottom: 1px solid $gray-500;
  }
}
